In [6]:
# Import packages
import numpy as np
import pandas as pd
from datetime import datetime
# Import my packages
import sys
import os
path_to_package = os.path.abspath(
    os.path.join('..')
)
sys.path.append(path_to_package)
from download_data import StockUniverse

In [7]:
# Test out __main__ with ['AAPL', 'MSFT']
test = StockUniverse()
test.download_data(['AAPL', 'MSFT'])
test.store_pickle(indicator_select=['O', 'V'], filename=f'../data/test_{datetime.today().strftime("%Y-%m-%d")}.pkl')
test.prices_df

[*********************100%***********************]  2 of 2 completed
Saved file successfully at ../data/test_2020-10-24.pkl

             Adj Close                   Close                    High  \
                  AAPL        MSFT        AAPL        MSFT        AAPL
Date
2017-01-03   27.548414   58.826855   29.037500   62.580002   29.082500
2017-01-04   27.517582   58.563644   29.004999   62.299999   29.127501
2017-01-05   27.657520   58.563644   29.152500   62.299999   29.215000
2017-01-06   27.965857   59.071262   29.477501   62.840000   29.540001
2017-01-09   28.222006   58.883255   29.747499   62.639999   29.857500
...                ...         ...         ...         ...         ...
2020-10-16  119.019997  219.660004  119.019997  219.660004  121.550003
2020-10-19  115.980003  214.220001  115.980003  214.220001  120.419998
2020-10-20  117.510002  214.649994  117.510002  214.649994  118.980003
2020-10-21  116.870003  214.800003  116.870003  214.800003  118.709999
2020-10-22  115.750000  214.889999  115.750000  214.889999  118.040001

                               Low                    Open              \
                  MSFT        AAPL        MSFT        AAPL        MSFT
Date
2017-01-03   62.840000   28.690001   62.130001   28.950001   62.790001
2017-01-04   62.750000   28.937500   62.119999   28.962500   62.480000
2017-01-05   62.660000   28.952499   62.029999   28.980000   62.189999
2017-01-06   63.150002   29.117500   62.040001   29.195000   62.299999
2017-01-09   63.080002   29.485001   62.540001   29.487499   62.759998
...                ...         ...         ...         ...         ...
2020-10-16  222.289993  118.809998  219.320007  121.279999  220.149994
2020-10-19  222.300003  115.660004  213.720001  119.959999  220.419998
2020-10-20  217.369995  115.629997  213.089996  116.199997  215.800003
2020-10-21  216.919998  116.449997  213.119995  116.669998  213.119995
2020-10-22  216.059998  114.589996  211.699997  117.449997  213.929993

               Volume
                 AAPL      MSFT
Date
2017-01-03  115127600  20694100
2017-01-04   84472400  21340000
2017-01-05   88774400  24876000
2017-01-06  127007600  19922900
2017-01-09  134247600  20382700
...               ...       ...
2020-10-16  115393800  26057900
2020-10-19  120639300  27625800
2020-10-20  124423700  22753500
2020-10-21   89946000  22724900
2020-10-22  101709700  22334100

[959 rows x 12 columns]

In [8]:
# Test read_pickle()
test = StockUniverse()
test.read_pickle(filename=f'../data/test_{datetime.today().strftime("%Y-%m-%d")}.pkl')

                  Open                 Volume
                  AAPL        MSFT       AAPL      MSFT
Date
2017-01-03   28.950001   62.790001  115127600  20694100
2017-01-04   28.962500   62.480000   84472400  21340000
2017-01-05   28.980000   62.189999   88774400  24876000
2017-01-06   29.195000   62.299999  127007600  19922900
2017-01-09   29.487499   62.759998  134247600  20382700
...                ...         ...        ...       ...
2020-10-16  121.279999  220.149994  115393800  26057900
2020-10-19  119.959999  220.419998  120639300  27625800
2020-10-20  116.199997  215.800003  124423700  22753500
2020-10-21  116.669998  213.119995   89946000  22724900
2020-10-22  117.449997  213.929993  101709700  22334100

[959 rows x 4 columns]

In [9]:
# Test calc_normalized_returns(['O'])
_ = test.calc_normalized_returns(['O', 'V'])
test.returns_df

           Open Returns           Volume Returns
                   AAPL      MSFT           AAPL      MSFT
Date
2017-01-03          NaN       NaN            NaN       NaN
2017-01-04     0.000432 -0.004937      -0.266272  0.031212
2017-01-05     0.000604 -0.004641       0.050928  0.165698
2017-01-06     0.007419  0.001769       0.430678 -0.199112
2017-01-09     0.010019  0.007384       0.057004  0.023079
...                 ...       ...            ...       ...
2020-10-16     0.021563  0.014049       0.025183  0.146254
2020-10-19    -0.010884  0.001226       0.045457  0.060170
2020-10-20    -0.031344 -0.020960       0.031370 -0.176368
2020-10-21     0.004045 -0.012419      -0.277099 -0.001257
2020-10-22     0.006686  0.003801       0.130786 -0.017197

[959 rows x 4 columns]

In [10]:
# Test preprocess_returns_df
test.preprocess_returns_df(nathreshold_ticker=0.25)

Dropping tickers: [].
More than 25.00% missing!

Dropping tickers: [].
Started trading after 2017-01-04!

Preprocessing done. Count of nulls after cleaning: 0

           Open Returns           Volume Returns
                   AAPL      MSFT           AAPL      MSFT
Date
2017-01-04     0.000432 -0.004937      -0.266272  0.031212
2017-01-05     0.000604 -0.004641       0.050928  0.165698
2017-01-06     0.007419  0.001769       0.430678 -0.199112
2017-01-09     0.010019  0.007384       0.057004  0.023079
2017-01-10     0.006952 -0.000478      -0.271135 -0.087805
...                 ...       ...            ...       ...
2020-10-16     0.021563  0.014049       0.025183  0.146254
2020-10-19    -0.010884  0.001226       0.045457  0.060170
2020-10-20    -0.031344 -0.020960       0.031370 -0.176368
2020-10-21     0.004045 -0.012419      -0.277099 -0.001257
2020-10-22     0.006686  0.003801       0.130786 -0.017197

[958 rows x 4 columns]